<div>
    <h3>Top headlines</h3>

    <div>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
            <div>
                <label for="cars" >Choose a category:</label>
                <select id="category" name="name" ngModel>
                <option value="entertainment">Entertainment</option>
                <option value="sports">Sports</option>
                <option value="general">General</option>
                <option value="health">Health</option>
                </select>
                <button type="submit" >Submit</button>
            </div>
        </form>
    </div>
    
    <div>
        <div *ngFor="let headlines of topHeadlinesResult">
            <img src="{{ headlines.urlToImage }}" style="width: 150px; height: 100px; margin:10px;" alt="thumbnail">
            <a href="{{ headlines.url }}" style="color: black; text-decoration:none; margin: 10px;">{{ headlines.title }}</a>
            <br><hr>
        </div>
    </div>
</div>


